{{> head }}

{{> navbar}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h1>Te muestro esta bonita imagen</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam eius reprehenderit perferendis ab ipsa, ea ratione magni consectetur facere illo cum quaerat nihil dolores corporis labore magnam, amet optio.
            </p>
        </div>
        <div class="col-lg-4">
            <img class="img-thumbnail" src="https://live.staticflickr.com/65535/49838062153_f214f585ab_b.jpg">
        </div>
    </div>
</div>

{{> footer}}